<h2>Reservation List</h2>

<ul *ngIf="reservations.length; else noReservation">
    <li *ngFor="let reservation of reservations">
        Guest: {{reservation.guestName}} <br>
        Email: {{reservation.guestEmail}} <br>
        Room No: {{reservation.roomNumber}} <br>
        Check-IN: {{reservation.checkInDate}} <br>
        Check-Out: {{reservation.checkOutDate}} <br>
        <button class ="btn btn-danger" (click) = "deleteReservation(reservation.id)">Delete</button>
    </li>
</ul>
<ng-template #noReservation> 
    <p>No Reservation available.</p>
</ng-template>