<form [formGroup] = "reservationForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="check-In Date">Check-In Date</label>
        <input type="date" formControlName="checkInDate">
        <div *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched"> 
            Check_In Date is Required
        </div>
    </div>
    <div>
        <label for="check-Out Date">Check-Out Date</label>
        <input type="date" formControlName="checkOutDate">
        <div *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched"> 
            Check_Out Date is Required
        </div>
    </div>
    <div>
        <label for="name">Guest Name</label>
        <input type="string" formControlName="guestName">
        <div *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched"> 
            Guest Name is Required
        </div>
    </div>
    <div>
        <label for="email">Guest Email</label>
        <input type="string" formControlName="guestEmail">
        <div *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched"> 
            Guest Email  is Required
        </div>
    </div>
    <div>
        <label for="roomNumber">Room Number</label>
        <input type="number" formControlName="roomNumber">
        <div *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched"> 
            Room Number is Required
        </div>
    </div>
    <button type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>
